@charset "UTF-8";

.right-schedule-container {
    width: 90%;
    height: 90%;
    display: flex;
    flex-flow: nowrap column;
    justify-content: space-evenly;
    align-items: center;
}
.right-schedule-title {
    width: 100%;
    height: 8%;
    border: 1px solid #000;
}
.right-schedule-date {
    width: 100%;
    height: 5%;
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
}
.right-schedule-people {
    width: 100%;
    height: 20%;
    border: 1px solid #000;
}
.right-schedule-date > * {
    width: 40%;
    height: 100%;
    border: 1px solid #000;
}

.right-schedule-content {
    width: 100%;
    height: 60%;
    border: 1px solid #000;
}