@charset "UTF-8";

.main-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.897);
}

.salary-login-box {
	width: 550px;
	height: 400px;
	border: 3px solid #aaa;
	border-radius: 20px;
	display: flex;
	flex-flow: nowrap column;
	padding: 30px;
	align-items: center;
	justify-content: space-evenly;
}

.salary-login-box input {
	width: 250px;
	height: 35px;
	border: 1px solid #aaa;
	border-radius: 10px;
}

.salary-login-box button {
	width: 80px;
	height: 35px;
}

.salary-login-title {
	width: 210px;
	height: 50px;
	border: 1px solid #aaa;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 1000;
	font-size: 25px;
}