@charset "UTF-8";
.fc-button {
	display: none;
}
.right-schedule-container {
	width: 90%;
	height: 90%;
	display: flex;
	flex-flow: nowrap column;
	justify-content: space-evenly;
	align-items: center;
}

.main-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.897);
}
#calendar {
	width: 100%;
	height: 100%;
}
#calendarBox {
	width: 100%;
	height: 100%;
}

.right-schedule-title {
	width: 100%;
	height: 8%;
}

.right-schedule-date {
	width: 100%;
	height: 5%;
	display: flex;
	flex-flow: nowrap row;
	justify-content: space-between;
}

.right-schedule-people {
	width: 100%;
	height: 20%;
}

.right-schedule-date>* {
	width: 40%;
	height: 100%;
}

.right-schedule-content {
	width: 100%;
	height: 60%;
}