@charset "UTF-8";

.left-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.left-update-container {
	width: 90%;
	height: 90%;
	display: flex;
	flex-flow: nowrap column;
	justify-content: space-between;
}

.left-update-container .title {
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: center;
	align-items: end;
	font-size: 25px;
	font-weight: 1000;
}

.left-update-container form {
	width: 100%;
	height: 90%;
	display: flex;
	flex-flow: nowrap column;
	justify-content: center;
	align-items: center;
}

.left-update-container form>* {
	width: 70%;
	height: 15%;
	display: flex;
	flex-flow: nowrap column;
	justify-content: center;
}

form input {
	width: 100%;
	height: 40px;
	margin-top: 5px;
	border-radius: 20px;
	border: 3px inset rgba(80, 191, 255, 0.44);
	padding-left: 20px;
}

form input:focus {
	outline: 1px inset rgba(55, 128, 170, 0.44);
}

form p {
	font-size: 12px;
	color: #252525;
}

form button {
	width: 40%;
	height: 60%;
	font-size: 20px;
	color: #777;
	background: rgba(255, 255, 255, 0.897);
	border: 1px solid #aaa;
	border-radius: 12px;
}

form button:hover {
	cursor: pointer;
	background: rgba(204, 204, 204, 0.897);
}

form .button {
	display: flex;
	align-items: center;
}

.right-list-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: nowrap column;
	justify-content: space-evenly;
	align-items: center;
}

.right-list-title {
	width: 90%;
	height: 10%;
	border: 1px solid #000;
}

.right-employeeinfo {
	width: 90%;
	height: 75%;
	display: flex;
	flex-flow: nowrap column;
	justify-content: space-between;
	padding: 20px;
}

.right-employeeinfo {
	width: 95%;
	height: 95%;
	display: flex;
	flex-flow: nowrap column;
}

.employeeinfo1 {
	width: 100%;
	height: 40%;
	display: flex;
	justify-content: space-between;
}

.employeeinfo1 .img {
	width: 33%;
	height: 95%;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
}

.imgBox {
	margin-top: 15px;
	width: 99%;
	height: 85%;
	border: 3px solid grey;
	border-radius: 15px;
}

.profileUpload {
	width: 40%;
	height: 8%;
}

.employeeinfo1 .infobox {
	width: 65%;
	height: 100%;
	display: flex;
	flex-flow: nowrap column;
	justify-content: space-between;
}

.employeeinfo1 .infobox div {
	width: 95%;
	height: 30%;
	border: 3px solid grey;
	border-radius: 15px;
}

.employeeinfo1 .infobox .row {
	display: flex;
	justify-content: space-between;
}

.employeeinfo1 .infobox .row div {
	width: 40%;
	height: 100%;
}

.employeeinfo2 {
	width: 100%;
	height: 35%;
	display: flex;
	flex-flow: nowrap column;
	justify-content: space-between;
	align-items: center;
}

.employeeinfo2 div {
	width: 98%;
	height: 30%;
	border: 3px solid grey;
	border-radius: 15px;
}

.paddingLeft {
	margin: 15px;
	padding-left: 15px;
}