.left-list-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: nowrap column;
    justify-content: space-evenly;
    align-items: center;
}

.left-list-search {
    width: 100%;
    height: 5%;
    display: flex;
    flex-flow: nowrap row;
    justify-content: end;
}
.left-list-search input[type="text"] {
    width: 200px;
    height: 30px;
    padding-left: 5px;
    border: none;
}
.left-list-search .search-bar {
    background-image: url('../image/serchBar2_200x30.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 30px;
    padding-left: 40px;
}

.left-list-search .search-bar:focus {
    outline-color:#217af4;
}
.left-list-search input[type="button"] {
    pointer-events: none;
    opacity: 0;
}

.left-list-content form {
    display: flex;
    height: 100%;
    align-items: end;
}
.left-list-title {
    width: 90%;
    height: 8%;
    display: flex;
    flex-flow: nowrap row;
    justify-content: start;
    align-items: center;

}

.left-list-title img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
}

.left-list-title .name {
    font-size: 30px;
    font-weight: 800;
}

.left-list-content {
    width: 90%;
    height: 80%;
    display: flex;
    flex-flow: nowrap column;
    justify-content: end;
    align-items: end;
}

.left-list-employeelist {
    width: 100%;
    height: 90%;
    display: flex;
    flex-flow: wrap column;
    justify-content: space-evenly;
  


}

.left-employee-attribute {
    width: 100%;
    height: 10%;
    display: flex;
    flex-flow: nowrap row;
    border-bottom: 1px solid #aaa;
}

.left-employee-attribute .attribute {
    width: 100%;
    height: 100%;
    display: flex;
    
    align-items: center;
    font-size: 20px;
    font-weight: 1000;
}

.left-employees {
    width: 100%;
    height: 400px;
    display: flex;
    flex-flow: nowrap column;
    overflow-y: scroll;
}
.left-employees .employee {
    width: 100%;
    height: 20%;
    display: flex;
    flex-flow: nowrap row;
    margin-bottom: 25px;
    border-bottom: 1px solid #aaa;
}

.box{
    display: flex;
    font-size: 15px;
    font-weight: 800;
    width: 100%;
    height: 100%;
}

.employee input:hover {
    background: #a8a8a8;
    cursor: pointer;
}
.left-employees::-webkit-scrollbar {
    width: 16px;
}

.left-employees::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);
}

.left-employees::-webkit-scrollbar-thumb {
    background: #217af4; /* 스크롤바의 색상 */
    border-radius: 10px;
    
}



.right-list-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: nowrap column;
    justify-content: space-evenly;
    align-items: center;
}

.right-list-title {
    width: 90%;
    height: 10%;
    border: 1px solid #000;
}

.right-employeeinfo {
    width: 90%;
    height: 75%;
    display: flex;
    flex-flow: nowrap column;
    justify-content: space-between;
    border: 1px solid #000;
}

.right-employeeinfo {
    width: 90%;
    height: 90%;
    display: flex;
    flex-flow: nowrap column;
    border: 1px solid #000;
}

.employeeinfo1 {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
}

.employeeinfo1 .img {
    width: 30%;
    height: 100%;
    border: 1px solid #000;
}

.employeeinfo1 .infobox {
    width: 65%;
    height: 100%;
    border: 1px solid #000;
    display: flex;
    flex-flow: nowrap column;
    justify-content: space-between;
}

.employeeinfo1 .infobox div {
    width: 100%;
    height: 30%;
    border: 1px solid #000;
}

.employeeinfo1 .infobox .row {
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
}

.employeeinfo1 .infobox .row div {
    width: 40%;
    height: 100%;
    border: 1px solid #000;
}

.employeeinfo2 {
    width: 100%;
    height: 35%;
    display: flex;
    flex-flow: nowrap column;
    justify-content: space-between;
    border: 1px solid #000;

}

.employeeinfo2 div {
    width: 100%;
    height: 20%;
    border: 1px solid red;
}

.chatbox {
    width: 100%;
    height: 30%;
    border: 1px solid green;
}