@charset "UTF-8";

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family: Tahoma, "Trebuchet MS", sans-serif;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.logo {
	width: 100%;
	height: 100%;
}

.conta {
	background-image: linear-gradient(to right top, #afafaf, #b4b4b4, #b9b9b9, #bfbfbf,
		#c4c4c4, #c4c4c4, #c3c3c3, #c3c3c3, #bdbdbd, #b6b6b6, #b0b0b0, #aaaaaa
		);
	display: flex;
	width: 100%;
	height: 95%;
	justify-content: center;
	flex-flow: nowrap column;
	align-items: center;
}

.container {
	background-image: linear-gradient(to right top, #afafaf, #b4b4b4, #b9b9b9, #bfbfbf,
		#c4c4c4, #c4c4c4, #c3c3c3, #c3c3c3, #bdbdbd, #b6b6b6, #b0b0b0, #aaaaaa
		);
	display: flex;
	width: 100%;
	height: 95%;
	justify-content: center;
	flex-flow: nowrap column;
	align-items: center;
}

.main {
	margin: 0px auto;
	width: 85%;
	height: 90%;
	display: flex;
	flex-flow: nowrap row;
}

.mai {
	margin: 0px auto;
	width: 85%;
	height: 90%;
	display: flex;
	flex-flow: nowrap row;
}

.first-listo {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: wrap column;
	align-items: center;
	border-radius: 20px;
	justify-content: center;
	
}

.first-icon {
	margin-top: 10px;
}

.first-listo div {
	text-decoration: none;
	font-style: none;
	list-style: none;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-bottom: 20px;
	display: flex;
}

.icon-ico {
	width: 100px;
	height: 100%;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: gray;
}

.last-icon {
	margin-top: auto;
}

.right-container {
	width: 50%;
	height: 100%;
	border: 1px solid black;
	background-color: rgba(255, 255, 255, 0.897);
	display: flex;
	justify-content: center;
	align-items: center;
}

.form {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: nowrap column;
	justify-content: center;
}

.left-container {
	width: 50%;
	height: 100%;
	border: 1px solid black;
	background-color: rgba(255, 255, 255, 0.897);
}

.login {
	width: 100%;
	height: 100%;
	-webkit-box-shadow: 0px 0px 9px 7px rgba(#ccd5ae);
	-moz-box-shadow: 0px 0px 9px 7px rgba(#ccd5ae);
	box-shadow: 0px 0px 9px 7px rgba(#ccd5ae);
	border-radius: 20px;
	display: flex;
	flex-flow: nowrap column;
	align-items: center;
}

footer {
	width: 100%;
	height: 5%;
	border: 1px solid #000;
}

.login-title {
	font-family: Impact, Charcoal, sans-serif;
	font-size: 31px;
	letter-spacing: 0.4px;
	word-spacing: 1px;
	color: #000000;
	font-weight: 400;
	text-decoration: none solid rgb(68, 68, 68);
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	width: 80%;
	height: 10%;
	border: 1px solid #bbb;
	text-align: center;
	margin-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 30px;
	background-color: white;
}

.login-bar {
	width: 70%;
	height: 90%;
	display: flex;
	flex-flow: nowrap column;
	justify-content: center;
}

.login-bar p {
	font-size: 12px;
	color: #252525;
}

.login-bar .buttonbox {
	margin-top: 100px;
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: center;
}

.login-bar button {
	width: 50%;
	font-size: 15px;
	color: #777;
	background: rgba(255, 255, 255, 0.897);
	border: 1px solid #aaa;
	border-radius: 12px;
}

.login-bar button:hover {
	cursor: pointer;
	background: rgba(204, 204, 204, 0.897);
}

.login-bar input {
	margin: 10px 0px 10px 0px;
	width: 100%;
	height: 50%;
	height: 7%;
	border-radius: 20px;
	border: 3px inset rgba(80, 191, 255, 0.44);
	padding-left: 20px;
}

.login-bar input:focus {
	outline: 1px inset rgba(55, 128, 170, 0.44);
}

.first-icon {
	background-image: url('../image/icon_01.png');
	background-size: cover;
}

.second-icon {
	background-image: url('../image/icon_02.png');
	background-size: cover;
}

.first-listo div:hover {
	cursor: pointer;
}

.first-listo div:active {
	transform: scale(0.95);
}

.third-icon {
	background-image: url('../image/icon_03.png');
	background-size: cover;
}

.fourth-icon {
	background-image: url('../image/icon_04.png');
	background-size: cover;
}

.fifth-icon {
	background-image: url('../image/icon_05.png');
	background-size: cover;
}

.last-icon {
	background-image: url('../image/icon_06.png');
	background-size: cover;
}