<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.board_01">
  <resultMap id="board_01" type="hrmanagement.vo.Board_01">
  <id property="num" column="num" />
  <result property="type" column="type" />
  <result property="writer" column="writer" />
  <result property="subject" column="subject" />
  <result property="contents" column="contents" />
  <result property="regDate" column="regDate" />
</resultMap>



</mapper>