<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <properties resource="mybatis/db.properties"/> 
  <typeAliases>
	  <typeAlias type="hrmanagement.vo.Department" alias="department"/> 
      <typeAlias type="hrmanagement.vo.Companyrank" alias="companyrank"/> 
      <typeAlias type="hrmanagement.vo.Job" alias="job"/> 
      <typeAlias type="hrmanagement.vo.Employee" alias="employee"/> 
      <typeAlias type="hrmanagement.vo.Attendance" alias="attendance"/> 
      <typeAlias type="hrmanagement.vo.Salary_info" alias="salary_info"/> 
      <typeAlias type="hrmanagement.vo.Vacation" alias="vacation"/> 
      <typeAlias type="hrmanagement.vo.Board_01" alias="board_01"/> 
      <typeAlias type="hrmanagement.vo.Calendar" alias="calendar"/> 
       
  </typeAliases> 
  
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>

  <mappers>
     <mapper resource="mybatis/DepartmentMapper.xml"/>
    <mapper resource="mybatis/CompanyrankMapper.xml"/>
    <mapper resource="mybatis/JobMapper.xml"/>
    <mapper resource="mybatis/EmployeeMapper.xml"/>
    <mapper resource="mybatis/AttendanceMapper.xml"/>
    <mapper resource="mybatis/Salary_infoMapper.xml"/>
    <mapper resource="mybatis/VacationMapper.xml"/>
    <mapper resource="mybatis/Board_01Mapper.xml"/>
    <mapper resource="mybatis/CalendarMapper.xml"/>

  </mappers>
</configuration>
