<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.employee">

	<resultMap id="employee" type="hrmanagement.vo.Employee">
		<id property="num" column="num" />
		<result property="name" column="name" />
		<result property="birth" column="birth" />
		<result property="gender" column="gender" />
		<result property="addr" column="addr" />
		<result property="phone" column="phone" />
		<result property="email" column="email" />
		<result property="id" column="id" />
		<result property="pw" column="pw" />
		<result property="em_num" column="em_num" />
		<result property="em_de_name" column="em_de_name" />
		<result property="em_rn_name" column="em_rn_name" />
		<result property="em_job_name" column="em_job_name" />
		<result property="em_entry" column="em_entry" />
		<result property="va_total" column="va_total" />
		<result property="va_use" column="va_use" />
	</resultMap>

	<select id="employeeNum" parameterType="employee"
		resultType="Integer">
		select em_num from employee where id=#{id}
	</select>

	<select id="employeeLoginTest" parameterType="employee"
		resultType="Integer">
		select * from employee where id=#{id} and pw = #{pw}
	</select>

	<select id="employeePw" parameterType="String"
		resultType="String">
		select pw from employee where id=#{id}
	</select>
	<select id="employeeList" resultMap="employee">
		select * from employee;
	</select>
	
	<select id="employeeInfo" parameterType="String" resultType="employee"> 
		select * from employee where id = #{id};
	</select>
	
	<select id="employeeSearch" parameterType="String" resultType="employee">
		select * from employee where name = #{name};
	</select>
	
	<update id="employeeUpdate" parameterType="employee">
		update employee set name = #{name}, addr = #{addr}, phone = #{phone}, email = #{email} where id = #{id};
	</update>
	
	<delete id="employeeDelete" parameterType="Integer">
		delete from employee where num = #{num};
		
	</delete>
</mapper>